.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.container * {  
  margin: auto;
  text-align: center;
}

.filterDetails {
  margin: auto;
  width: 95%;
  border: 3px solid rgb(32, 44, 218);
  padding: 10px;
}

.filterDetails * {
  margin: auto;
  text-align: center;
}

#description {
  width: 40%;
}

#category {
  width: 20%;
}

#priority {
  width: 10%;
}

#searchResults {
  color: red;
}

thead {
  background-color: rgb(78, 78, 245);
  color: white;
}